<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">

    {% if title %}
        <title>Flask Blog - {{ title }}</title>
    {% else %}
        <title>Throupy's Site</title>
    {% endif %}
</head>
<body class="onload">
<header class="site-header">
<nav class="myNav navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
  <a class="navbar-brand" href="{{ url_for('main.home') }}">Throupy</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- IF THE USER IS AUTHENTICATED -->
    {% if current_user.is_authenticated %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" role="button" aria-pressed="true" href="{{ url_for('main.home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <div role="search">
      <form action="{{ url_for('posts.search_posts') }}" method = "POST" class="mr-4 form-inline my-2 my-lg-0">
        <input name='search' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
    </div>
    <div class="dropdown">
      <a class="nav-link dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown">
        <img class="rounded-circle" src="{{ url_for('static',filename='profile_pics/' + current_user.image_file) }}" width=45vw height=45vh/>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{{ url_for('users.account') }}">View Account</a>
        <a class="dropdown-item" href="{{ url_for('users.logout') }}">Logout</a>
      </div>
    </div>
    <a class="btn btn-primary" href="{{ url_for('posts.new_post') }}" role="button">New Post</a>
    <!-- IF THE USER ISN'T AUTHENTICATED -->
    {% else %}
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('main.home') }}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="{{ url_for('users.login') }}">Login</a>
      </li>
    </ul>
    <div role="search">
      <form action="{{ url_for('posts.search_posts') }}" method = "POST" class="mr-4 form-inline my-2 my-lg-0">
        <input name='search' class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <input class="btn btn-primary" type="submit" value="Search">
      </form>
    </div>
    {% endif %}
  </div>
</div>
</nav>
</header id="header">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-xs-8 col-sm-8 col-lg-8">
        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
              <div class="alert alert-{{ category }}">
                {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
      </div>
      {% if current_user.is_authenticated %} <!-- if the user is logged in -->
      <div class="d-none d-sm-block col-sm-4">
        <div class="card" style="width: 18rem; display:table-cell;">
          <div class="card-top">
            <div class="banner-container">
              <img src="{{url_for('static', filename='banner_pics/' + current_user.banner_file)}}" width=350 height=205/>
              <img class="account-card-img rounded-circle account-img card-img-top" src="{{url_for('static', filename='profile_pics/' + current_user.image_file)}}" alt="Card image cap"/>
            </div>
          </div>
          <div class="account-info">
            <h6>Posts: {{ current_user.posts|length }}</h6>
          </div>
          <div class="card-body">
            <h4 class="card-title">{{ current_user.username }}</h4>
            {% if current_user.is_admin %}
            <a href="{{ url_for('users.admin') }}"><span class="badge badge-danger">Admin</span></a>
            {% endif %}
            <p class="card-text">{{ current_user.email }}</p>
            <a href="{{ url_for('users.account') }}" class="btn btn-success">View Account</a>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <!-- Modal -->
  <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="logoutModalLabel">Are you sure?</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Are you sure you want to log out of your account?
        </div>
        <div class="modal-footer text-center">
          <a href="{{ url_for('users.logout') }}" class="btn btn-outline-success btn-lg" role="button" aria-pressed="true">Yes</a>
          <a href="#" class="btn btn-outline-danger btn-lg" data-toggle="modal" role="button" aria-pressed="true">No</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
