{% extends "layout.html" %}
{% block content %}

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <form method="POST", action="">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom md-4">Reset Password</legend>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}
                        {% if form.email.errors %} <!-- if the data isn't valid / there are errors -->
                            {{ form.email(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% for error in form.email.errors %} <!-- loop through the errors -->
                                    <span> {{ error }} </span> <!-- display those tings -->
                                {% endfor %}
                            </div>
                        {% else %}
                            {{ form.email(class="form-control form-control-lg") }}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-success") }}
                </div>
            </form>
        </div>
    </div>
{% endblock content %}

