{% extends "layout.html" %}
{% block content %}
<div class="text-center content-section">
    <h1 style="display:inline; font-size:238px">4</h1>
    <img style="margin-bottom:7.3rem;display:inline;vertical-align: middle;text-align: center; " src="{{url_for('static',filename='shocked.png')}}" width=200px height=200px />
    <h1 style="display:inline; font-size:238px">4</h1>
    <h1>Page Not Found</h1>
    <p>That page does not exist. Please try a different location</p>
</div>
{% endblock content %}
